<div class="container"     *ngIf="!showLoginForm">
    <div class="row">
      <div class="col-md-6 offset-md-3">
    <div class="card my-5">

            
         <div class="card-body cardbody-color p-lg-5">
                
            <div class="flexbox">
      
                <div 
                    class="btn-container">
                    <app-login-btn 
                    text="Log-In"
                    (btnClick)="showAdminLoginForm()">
                    </app-login-btn>
                </div>
            
                <h2> For Ashram Personel only </h2>
            </div>

         </div>
          
    </div>
  
    </div>
    </div>
  </div>