
<div class="box-container">
    <h1> Admin</h1>

    <div class="flexbox">
      
            <div 
                class="btn-container">
                <app-login-btn 
                    text="New Entry"
                    (btnClick)="entryForm()"
                    >
                </app-login-btn>
            </div>
            <div 
                class="btn-container">
                <app-login-btn 
                    text="View Database">
                </app-login-btn>
            </div>
            
     
    
    </div>
    
    
</div>