.form-container{
    margin: auto;
    padding:10px;
    border:1px solid black;
}

:host{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}